<section class="main-content w1200" th:fragment="contentFragment">
    <div class="flex">
        <div class="main-left">
            <div class="main-card-sector">
                <h3 class="tit-main">총 설비 개소</h3>
                <span class="tit-sub">경기도 총 설치 현황</span>
                <div class="flex flex-end total-area height-60">
                    <span>조회기간 </span>
                    <span> 2021 ~ 2023</span>
                    <p>
                        <img th:src="@{/img/img_solarPn.png}"/>
                        12,385
                    </p>
                    <span> 개소</span>
                </div>
            </div>
            <div class="main-card-sector">
                <h3 class="tit-main">총 설비 용량</h3>
                <span class="tit-sub">경기도 총 발전 현황</span>
                <div class="flex flex-end total-area height-60">
                    <span>조회기간</span>
                    <span>2021 ~ 2023</span>
                    <p>
                        <img th:src="@{/img/img_house.png}"/>
                        58,505
                    </p>
                    <span> kWp</span>
                </div>
            </div>
            <div class="main-card-sector main-card-sector-notice">
                <h3 class="tit-main">공지 사항</h3>

                <div class="notice-article">
                    <span>2023.08.23</span>
                    <br>
                    <span>경기도 신재생에너지 플랫폼 개설 및 다양한 정보 안내</span>
                </div>
                <div class="notice-article">
                    <span>2023.09.15</span>
                    <br>
                    <span>경기도 신재생에너지 플랫폼 개설 오픈 이벤트</span>
                </div>
                <div class="notice-article">
                    <span>2023.10.30</span>
                    <br>
                    <span>경기도 신재생에너지 플랫폼 개설에 따른 변경사항 안내</span>
                </div>

                <div class="notice-footer"> <i class="fas fa-plus"></i> 더보기 </div>
            </div>
        </div>

        <div class="main-right">
            <div class="basicTable">
                <table class="table">
                    <thead>
                        <tr>
                            <th>지역명</th>
                            <th>시설구분</th>
                            <th>에너지원</th>
                            <th>사업연도</th>
                            <th>신청자명</th>
                            <th>설비용량</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>