<footer th:fragment="footerFragment">

    <div class="slider-container">
        <div class="slider-wrapper">
            <div class="slide"><img th:src="@{/img/v33_864.png}"></div>
            <div class="slide"><img th:src="@{/img/v33_867.png}"></div>
            <div class="slide"><img th:src="@{/img/v33_868.png}"></div>
            <div class="slide"><img th:src="@{/img/v33_869.png}"></div>
            <div class="slide"><img th:src="@{/img/v33_870.png}"></div>
            <div class="slide"><img th:src="@{/img/v33_871.png}"></div>
            <div class="slide"><img th:src="@{/img/v33_872.png}"></div>
        </div>
    </div>


    <article class="footer w1200">
        <section>
            <div class="container">
                <div>
                    <a href="/" title="신재생에너지 플랫폼 선택" class="footer-link"><img th:src="@{/img/logo-footer.png}" style="width: 270px;"></a>
                </div>
                <div>
                    <a href="" target="_blank" title="" class="footer-link">이메일수집거부</a>
                    <span class="text--gray">|</span>
                    <a href="" target="_blank" title="" class="footer-link">저작권보호정책</a>
                    <span class="text--gray">|</span>
                    <a href="" target="_blank" title="" class="footer-link">개인정보처리방침</a>
                </div>
            </div>

            <div>
                <p class="footer-text">경기도청 16508 경기도 수원시 영통구 도청로 30(이의동) | 북부청사 11780 의정부시 청사로 1(신곡동) | 경기도 콜센터 031-120</p>
                <p class="footer-text">COPYRIGHT © GYEONGGI PROVINCE All Rights Reserved.</p>
            </div>
        </section>
    </article>
</footer>