<footer th:fragment="footerFragment">
    <article class="footer-nav ">
        <section class="container">
            <div class="footer-slider">
                <section class="slider">
                    <div class="flexslider carousel">
                        <ul class="slides">
                            <li class="footer-slider-item"><a href="" title="산업융합 신제품 적합성 선택"> 산업융합 신제품 적합성 인증</a></li>
                            <li class="footer-slider-item"><a href="" title="산업융합 신제품 적합성 선택"> 산업융합 신제품 적합성 인증</a></li>
                            <li class="footer-slider-item"><a href="" title="산업융합 신제품 적합성 선택"> 산업융합 신제품 적합성 인증</a></li>
                            <li class="footer-slider-item"><a href="" title="산업융합 신제품 적합성 선택"> 산업융합 신제품 적합성 인증</a></li>
                            <li class="footer-slider-item"><a href="" title="산업융합 신제품 적합성 선택"> 산업융합 신제품 적합성 인증</a></li>
                            <li class="footer-slider-item"><a href="" title="산업융합 신제품 적합성 선택"> 산업융합 신제품 적합성 인증</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </section>
    </article>

    <article class="footer w1200">
        <section>
            <div class="container">
                <div>
                    <a href="" title="신재생에너지 플랫폼 선택" class="footer-link">신재생에너지 플랫폼</a>
                </div>
                <div>
                    <a href="" target="_blank" title="" class="footer-link">이메일수집거부</a>
                    <span class="text--gray">|</span>
                    <a href="" target="_blank" title="" class="footer-link">저작권보호정책</a>
                    <span class="text--gray">|</span>
                    <a href="" target="_blank" title="" class="footer-link">개인정보처리방침</a>
                </div>
            </div>

            <div>
                <p class="footer-text">경기도청 16508 경기도 수원시 영통구 도청로 30(이의동) | 북부청사 11780 의정부시 청사로 1(신곡동) | 경기도 콜센터 031-120</p>
                <p class="footer-text">COPYRIGHT © GYEONGGI PROVINCE All Rights Reserved.</p>
            </div>
        </section>
    </article>
</footer>
