<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RE-Platform</title>


    <link rel="stylesheet" th:href="@{/css/comm.css}">
    <link rel="stylesheet" th:href="@{/lib/fontawesome/all.min.css}">

    <link rel="stylesheet" th:href="@{/css/swiper.css}">
    <script type="text/javascript" th:src="@{/js/swiper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>

    <!-- footer slide 용 slick lib 추가 -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!--fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />


    <script type="text/javascript" th:src="@{/js/main.js}"></script>


</head>
<body>

        <!--S::header-->
        <div th:replace="~{/header :: headerFragment}"></div>
        <!--E::header-->

        <!--S::body-->
        <div th:replace="~{/content :: contentFragment}">

        </div>
        <!--E::body-->

        <!--S::footer-->
        <div th:replace="~{/footer :: footerFragment}"></div>
        <!--E::footer-->
</body>
</html>