<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--    <section class="main-content w1200" th:fragment="contentFragment">-->
    <th:block layout:fragment="content">

        <style>
            .businessTable th:nth-child(1), td:nth-child(1){width: 70px;}
            .businessTable th:nth-child(2), td:nth-child(2){width: 110px;}
            .businessTable th:nth-child(3), td:nth-child(3){width: 110px;}
            .businessTable th:nth-child(4), td:nth-child(4){width: 110px;}
            .businessTable th:nth-child(5), td:nth-child(5){width: 80px;}
            .businessTable th:nth-child(6), td:nth-child(6){width: 200px;}
            .businessTable th:nth-child(7), td:nth-child(7){width: 110px;}
            .businessTable th:nth-child(8), td:nth-child(8){width: 10px;}
        </style>

    <div class="main-content w1200 flex">
        <div class="main-left">
            <div class="main-card-sector">
                <h3 class="tit-main">총 설비 개소</h3>
                <span class="tit-sub">경기도 총 설치 현황</span>
                <div class="flex flex-end total-area height-60">
                    <span>조회기간 </span>
                    <span>{{yearData.min}} ~ {{yearData.max}}</span>
                    <p>
                        <img th:src="@{/img/img_solarPn.png}"/>
                        {{sumCount | number}}
                    </p>
                    <span> 개소</span>
                </div>
            </div>
            <div class="main-card-sector">
                <h3 class="tit-main">총 설비 용량</h3>
                <span class="tit-sub">경기도 총 발전 현황</span>
                <div class="flex flex-end total-area height-60">
                    <span>조회기간</span>
                    <span>{{yearData.min}} ~ {{yearData.max}}</span>
                    <p>
                        <img th:src="@{/img/img_house.png}"/>
                        {{sumCapacity | number }}
                    </p>
                    <span> kWp</span>
                </div>
            </div>
            <div class="main-card-sector main-card-sector-notice">
                <h3 class="tit-main">공지 사항</h3>

                <div class="notice-article">
                    <span>2023.08.23</span>
                    <br>
                    <span>경기도 신재생에너지 플랫폼 개설 및 다양한 정보 안내</span>
                </div>
                <div class="notice-article">
                    <span>2023.09.15</span>
                    <br>
                    <span>경기도 신재생에너지 플랫폼 개설 오픈 이벤트</span>
                </div>
                <div class="notice-article">
                    <span>2023.10.30</span>
                    <br>
                    <span>경기도 신재생에너지 플랫폼 개설에 따른 변경사항 안내</span>
                </div>

                <div class="notice-footer"> <a ng-click="nextMore()"><i class="fas fa-plus"></i> 더보기 </a></div>
            </div>
        </div>

        <div class="main-right">
            <div class="basicTable">
                <table class="table businessTable">
                    <thead>
                    <tr>
                        <th>no</th>
                        <th>지역명</th>
                        <th>시설구분</th>
                        <th>에너지원</th>
                        <th>사업연도</th>
                        <th>신청자명</th>
                        <th>설비용량</th>
                        <th><a><i class="fas fa-plus"></i></a></th>
                    </tr>
                    </thead>
                    <tbody id="dataList">
                        <tr ng-if="boardData.content.length === 0">
                            <td colspan="9">검색 결과 없음</td>
                        </tr>
                        <tr ng-repeat="item in boardData.list | limitTo: boardData.params.size" style="line-height: 170%;">
                            <td>{{item.userID}}</td>
                            <td>{{item.sigungu}}</td>
                            <td>{{item.facilityType}}</td>
                            <td>{{item.energy}}</td>
                            <td>{{item.byear}}</td>
                            <td>{{item.applicantName}}</td>
                            <td>{{item.capacity}}
                                <span ng-if="item.energy == '태양광'">kWp</span>
                                <span ng-if="item.energy == '태양열'">m<sup>2</sup></span>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- 페이지네이션 Rendering 영역 -->
            <nav>

            </nav>
        </div>


    </div>
    </th:block>


<!--</section>-->
</html>