<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <th:block layout:fragment="content">
        <input type="hidden" name="pageName" th:value="${pageName}">
        <input type="hidden" name="sigungu" th:value="${sigungu}">
        <style>
            .businessTable th:nth-child(1), td:nth-child(1){width: 75px;}
            .businessTable th:nth-child(2), td:nth-child(2){width: 110px;}
            .businessTable th:nth-child(3), td:nth-child(3){width: 80px;}
            .businessTable th:nth-child(4), td:nth-child(4){width: 80px;}
            .businessTable th:nth-child(5), td:nth-child(5){width: 80px;}
            .businessTable th:nth-child(6), td:nth-child(6){width: 140px;}
            .businessTable th:nth-child(7), td:nth-child(7){width: 140px;}
            .businessTable th:nth-child(8), td:nth-child(8){width: 300px;}
        </style>

    <div class="main-content w1200">
        <div class="main-top">
            <div class="flex justify_space_around">
                <div class="main-card-sector w-300">
                    <h3 class="tit-main" style="color: black;font-size: x-large;">지역별 설치 현황 </h3>
                    <div class="height-60 mg-left30 text-right">
                        <img th:src="@{/img/img_main_top.png}" style="width: 180px;"/>
                    </div>
                </div>
                <div class="main-card-sector mg-left30 w-300">
                    <h3 class="tit-main">총 설비 개소</h3>
                    <span class="tit-sub">{{searchDto.searchFilter.sigungu != '시/군/구' ? searchDto.searchFilter.sigungu : '전체'}} 총 설치 현황</span>
                    <div class="flex flex-end total-area height-60">
                        <div>
                            <span>조회기간 </span>
                            <span ng-if="searchDto.searchFilter.BYEAR == '사업연도' ">{{yearData.min}} ~ {{yearData.max}}</span>
                            <span ng-if="searchDto.searchFilter.BYEAR != '사업연도' "> {{searchDto.searchFilter.BYEAR}} </span>
                        </div>
                        <div>
                            <p><img th:src="@{/img/img_solarPn.png}"/>{{ pagination.total | number }}</p>
                            <span> 개소</span>
                        </div>
                    </div>
                </div>
                <div class="main-card-sector mg-left30 w-300">
                    <h3 class="tit-main">총 설비 용량</h3>
                    <span class="tit-sub">{{searchDto.searchFilter.sigungu != '시/군/구' ? searchDto.searchFilter.sigungu : '전체'}} 총 발전 현황</span>
                    <div class="flex flex-end total-area height-60">
                        <div>
                            <span>조회기간</span>
                            <span ng-if="searchDto.searchFilter.BYEAR == '사업연도' ">{{yearData.min}} ~ {{yearData.max}}</span>
                            <span ng-if="searchDto.searchFilter.BYEAR != '사업연도' "> {{searchDto.searchFilter.BYEAR}} </span>
                        </div>
                        <div>
                            <p><img th:src="@{/img/img_house.png}"/>{{ pagination.totalSumCapacity | number:2 }}</p>
                            <span> kWp</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex search-filter-box">
                <div class="flex" style="width: 70%;">
                    <!-- 사업명 -->
                    <select class="input_style search-filter-sel" ng-model="searchDto.searchFilter.BNAME" ng-change="getSearchBusinessDataList(searchDto)">
                        <option selected>사업명</option>
                        <option ng-repeat="item in onSearchFilter.BNAME">{{item}}</option>
                    </select>
                    <!-- 시설구분 -->
                    <select class="input_style search-filter-sel mg-left10" ng-model="searchDto.searchFilter.facilityType" ng-change="getSearchBusinessDataList(searchDto)">
                        <option selected>시설구분</option>
                        <option ng-repeat="item in onSearchFilter.facilityType">{{item}}</option>
                    </select>
                    <!-- 에너지원 -->
                    <select class="input_style search-filter-sel mg-left10" ng-model="searchDto.searchFilter.energy" ng-change="getSearchBusinessDataList(searchDto)">
                        <option selected>에너지원</option>
                        <option ng-repeat="item in onSearchFilter.energy">{{item}}</option>
                    </select>
                    <!-- 사업연도 -->
                    <select class="input_style search-filter-sel mg-left10" ng-model="searchDto.searchFilter.BYEAR" ng-change="getSearchBusinessDataList(searchDto)">
                        <option selected>사업연도</option>
                        <option ng-repeat="item in onSearchFilter.BYEAR">{{item}}</option>
                    </select>
                    <!-- 시/군구 -->
                    <select class="input_style search-filter-sel mg-left10" ng-model="searchDto.searchFilter.sigungu" ng-change="getSearchBusinessDataList(searchDto)">
                        <option selected>시/군/구</option>
                        <option ng-repeat="item in onSearchFilter.sigungu">{{item}}</option>
                    </select>
                </div>
                <div class="flex mg-left30 justify-content-end" style="width: 30%;">
                    <input class="input_style" ng-model="searchDto.keyword" placeholder="직접 입력" type="text"
                           ng-keypress="keypressSearch(event=$event)">
                    <button class="btn-blue" ng-click="getSearchBusinessDataList(searchDto);">검색</button>
                </div>
            </div>
        </div>

        <div class="main-bottom">
            <div class="flex justify_between mg-btm10">
                <button class="btn" ng-click="moveMap(searchDto)"><i class="far fa-compass"></i>&nbsp;&nbsp;지도보기</button>
                <button class="btn" ng-click="excelDownload(searchDto, 'local')"><i class="fas fa-table"></i>&nbsp;&nbsp;내려받기</button>
            </div>
            <div class="basicTable">
                <table class="table businessTable">
                    <thead>
                    <tr>
                        <th>no</th>
                        <th>사업명</th>
                        <th>시설구분</th>
                        <th>에너지원</th>
                        <th>사업연도</th>
                        <th>신청자명</th>
                        <th>설비용량</th>
                        <th>설치주소</th>
                    </tr>
                    </thead>
                    <tbody id="dataList">
                        <tr ng-if="boardData.list.length === 0">
                            <td colspan="8">검색 결과 없음</td>
                        </tr>
                        <tr ng-repeat="item in boardData.list | limitTo: boardData.params.size" class="rowBtn" ng-click="openModal('businessData-modal', item);">
                            <td>{{item.userID}}</td>
                            <td>{{item.bname}}</td>
                            <td>{{item.facilityType}}</td>
                            <td>{{item.energy}}</td>
                            <td>{{item.byear}}</td>
                            <td>{{item.applicantName}}</td>
                            <td>{{item.capacity}} <span>kWp</span>
                            </td>
                            <td>{{item.applicantAddress}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- 페이지네이션 Rendering 영역 -->
            <td-search-pagination
                        context="pagination"
                        on-page="goBoardPage($event)"></td-search-pagination>

        </div>





        <!-- S:모달 디테일 창 -->
        <div class="modal-wrap js-modal" id="businessData-modal">
            <div class="modal-inner size-normal">
                <div class="modal-head">
                    <h2>{{detailModalData.userID}}  |  {{detailModalData.applicantName}}</h2>
                    <button class="btn-close js-modal-close" ng-click="closeNaraModal('businessData-modal')">CLOSE</button>
                </div>
                <div class="modal-body">
                    <h4>상세정보</h4>
                    <div class="basicTable">
                        <table class="table modal-table">
                            <tbody class="non_tr_style">
                            <tr>
                                <th>사업연도</th>
                                <td title="">{{detailModalData.byear}}</td>
                                <th>사업명</th>
                                <td title="">{{detailModalData.bname}}</td>
                                <th>주관기관</th>
                                <td>{{detailModalData.organization}}</td>
                            </tr>
                            <tr>
                                <th>신청자명</th>
                                <td>{{detailModalData.applicantName}}</td>
                                <th>신청자 연락처</th>
                                <td>{{detailModalData.applicantPhone}}</td>
                                <th>주관부서</th>
                                <td>{{detailModalData.department}}</td>
                            </tr>
                            <tr>
                                <th>설치용량</th>
                                <td>{{detailModalData.capacity}}</td>
                                <th>설치형태</th>
                                <td>{{detailModalData.installType}}</td>
                                <th>설치장소</th>
                                <td>{{detailModalData.applicantAddress}}</td>
                            </tr>
                            <tr>
                                <th>에너지원</th>
                                <td>{{detailModalData.energy}}</td>
                                <th>시공업체</th>
                                <td>{{detailModalData.constructionCompany}}</td>
                                <th>모니터링 설치유무</th>
                                <td>{{detailModalData.monitoring}}</td>
                            </tr>
                            <tr>
                                <th>시설형태</th>
                                <td>{{detailModalData.facilityType}}</td>
                                <th>시공업체 연락처</th>
                                <td>{{detailModalData.constructionCompany}}</td>
                                <th>비고</th>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <br>
                    <h4>AS 이력</h4>
                    <div class="basicTable">
                        <table class="table modal-table-btm">
                            <tr>
                                <th>발생일</th>
                                <th>내용</th>
                                <th>처리현황</th>
                            </tr>
                            <tr ng-if="detailModalData.asData.length === 0">
                                <td colspan="3">이력 없음</td>
                            </tr>
                            <tr ng-repeat="item in detailModalData.asData">
                                <td>{{item.asDate}}</td>
                                <td>{{item.asDescription}}</td>
                                <td>{{item.asStatus}}</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <!-- E:모달 디테일 창 -->





    </div>
    </th:block>

<!--</section>-->
</html>