<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="headerFragment">
        <header id="header">
            <div class="header_in w1200">
                <h1><a th:href="@{./home}"><img th:src="@{/img/logo-main.png}" style="width: 180px;"></a></h1>

                <!--S::메뉴 영역-->
                <div id="menu">
                    <ul class="menu_in">
                        <li><a ng-click="nextMore();">공지사항</a></li>
                        <li><a th:href="@{./local}">지역별 설치현황</a></li>
                        <li><a>사업별 설치현황</a></li>
                        <li><a>설치분포지도</a></li>
                        <li><a>A/S 이력</a></li>
                        <li><a>고객지원</a></li>
                    </ul>
                </div>
                <!--E::메뉴 영역-->

                <!--S::검색 영역-->
                <div id="searchZone">
                    <select class="input_style">
                        <option>지역</option>
                        <option>이름</option>
                        <option>연도</option>
                        <option>사업</option>
                    </select>

                    <div class="searchBox">
                        <input type="text" class="input_style">
                        <a ng-click="nextMore()"><i class="fas fa-search searchBtn"></i></a>
                    </div>
                </div>
                <!--E::검색 영역-->

            </div>
        </header>
    </th:block>
</html>