@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url("font.css");


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;line-height:138%;letter-spacing:normal;}
body,html{width:100%; font-size:16px; color:#666; font-weight: 400; font-family: "Pretendard Variable", Pretendard, "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;}
*{font-family: "Pretendard Variable", Pretendard, "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif; }
ol,ul,li{list-style:none;}
a{cursor: pointer;}
a:hover{opacity: 80%;}

#header {position:relative; border-bottom:1px solid #EEEEEE;}
#header .header_in {display:flex; padding-top:10px; padding-bottom:10px;}
#header .header_in h1{display:inline-block; width: 270px; padding:10px; transition:padding 0.2s linear;}

#menu{position:relative; z-index:700; align-self: center;}
#menu > .menu_in{display:flex; }
#menu > .menu_in > li{flex:1; text-align:center; position:relative; width: 100px; align-self: center;}
#menu > .menu_in > li > a{display:block; font-size:0.95rem; color:#222222; font-weight:600; padding:10px; word-break: keep-all; text-decoration-line: none;}
#menu > .menu_in > li > a:hover{cursor: pointer; color: #007aff;}
#menu > .menu_in > li dl{position:absolute; z-index:705; top:60px;  box-sizing:border-box; height:0; overflow:hidden; width:100%; transition:all 0.2s linear;}

#searchZone {display: flex;align-items: center;justify-content: space-around;width: 260px;}
#searchZone > select, input {height: 30px;}
#searchZone > .searchBox {display: flex; align-items: center;}
#searchZone > .searchBox > a > .searchBtn {position: relative;right: 25px;align-self: center;}
#searchZone > .searchBox > input{display:block;  padding-right: 30px; width: 120px;}
#searchZone > .searchBtn:hover{background:#2B5BE1; border:2px solid #2B5BE1; transition:all 0.2s linear;}

.input_style {border: 1px solid #ddd;border-radius: 5px;padding: 0 5px;font-size: 1rem;}

footer > .footer {background: #eaeaea; height: 150px;padding: 20px;}
footer > .footer .container {display: flex; justify-content: space-between; align-items: center;}
footer > .footer .footer-text {margin-top: 5px; margin-bottom: 10px;}
footer > .footer .footer-text:first-child {color:#0f53a8;}
footer > .footer .footer-link {text-decoration:none; color: #656565;}

footer > .slider-container{border-top: 1px solid #EEEEEE;}
footer > .slider-container .slider-wrapper{width:1200px; height:40px;margin:0 auto; overflow:hidden; padding: 10px;}
footer > .slider-container .slider-wrapper .slide{width:200px;height:30px;display:inline-block; text-align: center;}


.flex {display: flex;}
.flex-end {align-items: flex-end;}
.justify-content-end {justify-content: flex-end;}
.justify_center {justify-content: center;}
.justify_space_around {justify-content: space-around;}
.justify_between {justify-content: space-between;}
.align_center {-webkit-align-items: center;-moz-align-items: center;-ms-align-items: center;align-items: center;}
.nowrap {white-space:nowrap}

.pageNum {font-size:1rem; color:#222;}
.pageNum b {color:#4671E9}
.pagination {margin:20px 0;}
.pagination a{width:36px; height:36px; text-align: center; line-height: 36px; color:#222;border-radius:100px; text-decoration-line: none;}
.pagination a:hover:not(.active) {background:#d1d8e0;}
.pagination a.active{border-radius:100px;color: #2778c4;font-weight: 800;}

.pagination button{width:36px; height:36px; text-align: center; line-height: 36px; color:#222;border-radius:100px;border:0 solid #fff;}
.pagination button:hover:not(.active) {background:#d1d8e0;}
.pagination button.active{background: #DAE3FA; color:#222;border-radius:100px; }


.main-content {margin-top: 15px; min-height: 630px;}
.main-content .main-left {width: 350px; min-width: 350px; max-width: 350px;}
.main-content .main-right {width: calc(100% - 350px);}
.main-content .main-top {height: 310px; margin-top: 20px;}
.main-content .main-bottom {height: calc(100% - 350px);}

.main-content .main-card-sector {border: 1px solid #656565; border-radius: 10px; width: 290px; height: 120px; padding: 10px; margin-bottom: 15px;}
.main-content .main-card-sector > .tit-main { color:#0f53a8; margin-bottom: 5px;}
.main-content .main-card-sector > .tit-sub { font-weight: 600; font-size: 15px; margin-bottom: 5px;}
.main-content .main-card-sector > div:nth-child(3) { margin-top: 10px;}
.main-content .main-card-sector > .total-area > div:nth-child(1) {width: 120px; min-width: 120px;}
.main-content .main-card-sector > .total-area > div:nth-child(1) > span {margin: 5px;}
.main-content .main-card-sector > .total-area > div:nth-child(1) > span:nth-child(1), span:nth-child(2) {font-size: 10px;}
.main-content .main-card-sector > .total-area > div:nth-child(2) {width: calc(100% - 120px); display: flex; align-items: flex-end;}
.main-content .main-card-sector > .total-area > div:nth-child(2) > span:nth-child(2) {font-size: 13px; font-weight: 700; color: black;}
.main-content .main-card-sector > .total-area > div:nth-child(2) > p {font-size:20px; font-weight: 700; color: black;}
.main-content .main-card-sector > .total-area > div:nth-child(2)> p > img{width: 50px;}

.main-content .main-card-sector-notice {height: 280px;}
.main-content .main-card-sector-notice > .tit-main{ color: black; margin-bottom: 5px;}
.main-content .main-card-sector-notice > .notice-article {margin-top: 10px; margin-bottom: 10px; border-bottom: 1px solid #656565; padding: 10px;}
.main-content .main-card-sector-notice > .notice-article > span:nth-child(1) {font-size: 10px;}
.main-content .main-card-sector-notice > .notice-article > span:nth-child(3) {font-size: 12px;}
.main-content .main-card-sector-notice > .notice-article:nth-child(4) {border-bottom: none;}

.main-content .main-card-sector-notice > .notice-footer {text-align: center;}

.height-60 {height: 60px;}
.h-200 {height: 200px !important;}
.mg-top10 {margin-top: 10px;}
.mg-btm10 {margin-bottom: 10px;}
.mg-left10 {margin-left: 10px;}
.mg-left30 {margin-left: 30px;}
.text-right {text-align: right;}
.w-300 {width: 300px !important;}
.w-150 {width: 150px !important;}
.w1200{max-width:1200px; margin:0 auto; box-sizing:border-box; padding:0 25px; min-width: 1000px;}
.mg-btm20 {margin-bottom: 20px;}

/*** S::Table***/
.table {width:100%; border-collapse: collapse;}
.basicTable table {border-top:1px solid #4A506B;}
.basicTable table thead th {background: #f8f8f8; text-align: center; padding:10px; color:#222; font-size:0.875rem; word-break: keep-all; font-weight: 500; white-space:nowrap;}
.basicTable table tbody td {border-bottom:1px solid #e5e5e5; padding:10px; text-align: center; color:#444; font-size:0.8125rem; word-break: keep-all;}
.basicTable table tbody td.text-left {text-align: left;}
.basicTable table tbody td.text-right {text-align: right;}
.basicTable table tbody tr:hover {background:#f8f8f8}
.basicTable table tbody th {background: #f9f9f9; border-bottom:1px solid #e5e5e5; color:#444; font-size:0.875rem; padding-left:15px;}
.basicTable table tbody td .input_style {height:34px; margin:0 1px;}
.basicTable table tbody td .btn {padding: 0 10px}

.loading {display:none;width: 100%;height: 100%;position: fixed;left: 0;top: 0;background: #fff;z-index: 9999;text-align: center;line-height: 100%;opacity: 0.8;}
.loader {position: absolute;left: 50%;top: 55%;z-index: 11;width: 120px;height: 120px;margin: -76px 0 0 -76px;border: 16px solid #f3f3f3;border-radius: 50%;border-top: 16px solid #3498db;-webkit-animation: spin 2s linear infinite;animation: spin 2s linear infinite;}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% { transform: rotate(360deg); }
}


.search-filter-sel {width: 125px;}
.search-filter-box > div > select {-webkit-appearance:none; -moz-appearance:none; appearance:none; background:url('../img/img_sel_arrow.png') no-repeat right 5px center; background-size: 20px;}
.search-filter-box > div > select::-ms-expand{display:none;}

.btn {width: 90px; border: none; cursor: pointer;align-self: center;text-align: center;height: 25px;border-radius: 5px;box-shadow: 2px 2px #c2c2c2;}

.btn:hover {opacity: 80%;}
.btn-blue{color: white; background-color: #1d55a3;border: none; width: 50px; cursor: pointer;}
.btn-blue:hover{opacity: 80%;}

.rowBtn {cursor: pointer;}
.rowBtn:hover {color: #007aff; opacity: 80%; font-size: large;}
.rowBtn:hover > td{color: #007aff !important;}

.sidenav {
    height: 490px;
    width: 0;
    position: absolute;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 2px 0;
    top:260px;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.Shadow .toggle {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 22px;
    height: 200px;
    font-size: 0;
    line-height: 0;
    background:url('../img/open.png') no-repeat 0 0;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 1;
}
.subTable {}
.subTable thead th {font-size:0.7125rem;}
.subTable tbody td {font-size:0.58rem;}
.right {text-align:right;}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



/* S : Modal */
.modal-wrap {position: fixed; z-index: 900 !important; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.2); text-align: center;}
.modal-wrap::before {content: ''; height: 100%; display: inline-block; vertical-align: middle;}
.modal-inner {position: relative; display: inline-block; width: 800px; height: 400px; padding: 30px; background-color: rgba(255,255,255,1); box-shadow: 8px 8px 20px rgba(0,0,0,.2); border-radius: 8px; vertical-align: middle; text-align: left; box-sizing: border-box; z-index:800}
.modal-head {position: relative; padding-bottom:8px; color:#222; font-weight: bold; border-bottom:1px solid #eee;}
.modal-head span {display: block; padding-bottom:10px; color:#888; font-weight: normal;}
.modal-head h2 {position: relative; display: inline-block;}
.modal-head h2::before {content: ''; background: #4671E9; width: 100%; height:3px; position: absolute; bottom:-8px; left:0;}
.modal-body {overflow: auto; height: calc(400px - 40px - 80px); padding:20px 0; font-size:1rem;}
.modal-body h4 {font-weight: bold; color:#222; padding-left:15px; margin-bottom:10px; font-size:1.125rem;}
.modal-body h4::before {content:''; position: absolute; width:8px; height:8px; background: #4A506B; margin-left:-15px; margin-top:7px; border-radius: 10px;}
.modal-wrap .btn-close {position: absolute; top: 10px; right: 10px;}
.modal-wrap .btn-close{position:absolute; right:-15px; top:-15px; cursor:pointer; width:40px; height:40px; background:url('../img/closeBtn.png') no-repeat center/12px auto,#4A506B; border-radius:50%; font-size:0; transition:all 0.2s linear; border:0;}
.modal-wrap .btn-close:hover{background-color:#4671E9; transform:rotate(180deg); transition:all 0.2s linear;}
.size-normal {width: 80vw; height: auto; max-width:1200px; min-width: 760px;}
.size-normal .modal-body {height: auto;}
.size-vertical {width: 66vw; height: auto;}
.size-vertical .modal-body {height: auto;}
.size-horizontal {width: 90vw; height: 50vh;}
.size-horizontal .modal-body {height: calc(50vh - 40px - 80px);}
.js-modal {display: none;}
.js-modal.js-is-active {display: block;}
/* E : Modal */

.modal-table th {width: 110px; padding-left: 0 !important;}
.modal-table tr {text-align: center !important;}
.modal-table td:nth-child(2) {width: 150px !important;}
.modal-table td:nth-child(4) {width: 200px !important;}
.modal-table td:nth-child(6) {width: 200px !important;}

.modal-table-btm tr {text-align: center !important; padding-left: 0 !important;}