<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.techdna.replatform2023.mapper.AsDataMapper">

    <!-- SELECT 결과 Map -->
    <resultMap id="AsDataResultMap" type="kr.techdna.replatform2023.dto.ResAsData">
        <result property="no"                      column="No" />
        <result property="userID"                  column="UserID" />
        <result property="asDate"                  column="AS_date" />
        <result property="asDescription"           column="AS_description" />
        <result property="asStatus"                column="AS_status" />
    </resultMap>

    <!-- BusinessData.UserID 에 따른 AS_data 수 조회(필요 없음...) -->
    <select id="countForAsData" parameterType="java.lang.Integer" resultType="int">
        SELECT
            COUNT(*)
        FROM
            AS_data
        WHERE
            UserID = #{userID}
    </select>

    <select id="selectForUserID" parameterType="java.lang.Integer" resultMap="AsDataResultMap">
        SELECT
            *
        FROM
            AS_data
        WHERE
            UserID = #{userID}
    </select>

</mapper>