<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.techdna.replatform2023.mapper.BusinessDataMapper">

    <!-- SELECT 결과 Map -->
    <resultMap id="BusinessDataResultMap" type="kr.techdna.replatform2023.dto.ResBusinessData">
        <result property="userID"                 column="UserID" />
        <result property="BYEAR"                  column="BYEAR" />
        <result property="BNAME"                  column="BNAME" />
        <result property="organization"           column="Organization" />
        <result property="department"             column="Department" />
        <result property="applicantName"          column="ApplicantName" />
        <result property="applicantPhone"         column="ApplicantPhone" />
        <result property="capacity"               column="Capacity" />
        <result property="applicantAddress"       column="ApplicantAddress" />
        <result property="address"                column="Address" />
        <result property="roadAddress"            column="RoadAddress" />
        <result property="bCode"                  column="Bcode" />
        <result property="hCode"                  column="Hcode" />
        <result property="sigungu"                column="Sigungu" />
        <result property="eupMyeon"               column="EupMyeon" />
        <result property="dong"                   column="Dong" />
        <result property="energy"                 column="Energy" />
        <result property="installType"            column="InstallType" />
        <result property="constructionCompany"    column="ConstructionCompany" />
        <result property="facilityType"           column="FacilityType" />
        <result property="monitoring"             column="Monitoring" />
        <result property="constructionNumber"     column="ConstructionNumber" />
        <result property="entX"                   column="entX" />
        <result property="entY"                   column="entY" />
    </resultMap>
    <resultMap id="AsDataResultMap" type="kr.techdna.replatform2023.dto.ResAsData">
        <result property="no"                      column="No" />
        <result property="userID"                  column="UserID" />
        <result property="asDate"                  column="AS_date" />
        <result property="asDescription"           column="AS_description" />
        <result property="asStatus"                column="AS_status" />
    </resultMap>

    <!-- WHERE 조건 Main, TODO 차후 구현 예정 -->
    <sql id="conditions-main">
        <where>
            <if test="keyword != null and keyword.equals('') == false">
            <choose>
                <when test="searchFilter == null or searchFilter.searchType.equals('')">
                 (
                    Sigungu LIKE CONCAT('%', #{keyword}, '%')
                   OR BYEAR LIKE CONCAT('%', #{keyword}, '%')
                   OR BNAME LIKE CONCAT('%', #{keyword}, '%')
                   OR ApplicantName LIKE CONCAT('%', #{keyword}, '%')
                )
                </when>
                <otherwise>
                    <choose>
                        <when test="searchFilter.searchType.equals('sigungu')">
                        Sigungu LIKE CONCAT('%', #{keyword}, '%')
                        </when>

                        <when test="searchFilter.searchType.equals('BYEAR')">
                        BYEAR LIKE CONCAT('%', #{keyword}, '%')
                        </when>

                        <when test="searchFilter.searchType.equals('BNAME')">
                        BNAME LIKE CONCAT('%', #{keyword}, '%')
                        </when>

                        <when test="searchFilter.searchType.equals('applicantName')">
                        ApplicantName LIKE CONCAT('%', #{keyword}, '%')
                        </when>
                    </choose>
                </otherwise>
            </choose>
            </if>
        </where>
    </sql>

    <!-- WHERE 조건 Sub -->
    <sql id="conditions-sub">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="keyword != null and keyword.equals('') == false">
                (
                Sigungu LIKE CONCAT('%', #{keyword}, '%')
                OR BYEAR LIKE CONCAT('%', #{keyword}, '%')
                OR BNAME LIKE CONCAT('%', #{keyword}, '%')
                OR ApplicantName LIKE CONCAT('%', #{keyword}, '%')
                OR Energy LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="searchFilter != null">
                <if test="searchFilter.BNAME.equals('') == false">
                    AND BNAME = #{searchFilter.BNAME}
                </if>
                <if test="searchFilter.BYEAR != 0">
                    AND BYEAR = #{searchFilter.BYEAR}
                </if>
                <if test="searchFilter.energy.equals('') == false">
                    AND Energy = #{searchFilter.energy}
                </if>
                <if test="searchFilter.facilityType.equals('') == false">
                    AND FacilityType = #{searchFilter.facilityType}
                </if>
                <if test="searchFilter.sigungu.equals('') == false">
                    AND Sigungu = #{searchFilter.sigungu}
                </if>
            </if>
        </trim>
    </sql>

    <!-- 게시글 수 조회 -->
    <select id="count" parameterType="kr.techdna.replatform2023.dto.SearchDto" resultType="int">
        SELECT
            COUNT(*)
        FROM
            Business_data
        <include refid="conditions-sub" />
    </select>

    <!-- 전체 용량 조회 -->
    <select id="countAndSumCapacity" parameterType="kr.techdna.replatform2023.dto.SearchDto" resultType="hashMap">
        SELECT
            COUNT(UserID) as count, SUM(Capacity) as sum
        FROM
            Business_data
        <include refid="conditions-sub" />
    </select>

    <!-- 게시글 리스트 조회 -->
    <select id="getBusinessDataList" parameterType="kr.techdna.replatform2023.dto.SearchDto" resultMap="BusinessDataResultMap">
        SELECT
            *
        FROM
            Business_data
        <include refid="conditions-main" />
        ORDER BY
            UserID DESC, BYEAR DESC
        LIMIT #{pagination.limitStart}, #{size}
    </select>

    <!-- 조회기간 설정용 min, max 값 -->
    <select id="getMinMaxYear" resultType="hashMap">
        SELECT MIN(BYEAR) as MIN, MAX(BYEAR) as MAX
        FROM Business_data
    </select>

    <!-- 전체 합계 -->
    <select id="getSumCapacity" resultType="long">
        SELECT
            SUM(Capacity)
        FROM
            Business_data
    </select>


    <!-- 필터 목록 조회용 차후 교체 필요 -->
    <select id="getSearchFilterBNAME" resultType="string">
        SELECT DISTINCT BNAME FROM Business_data;
    </select>
    <select id="getSearchFilterBYEAR" resultType="integer">
        SELECT DISTINCT BYEAR FROM Business_data;
    </select>
    <select id="getSearchFilterFacilityType" resultType="string">
        SELECT DISTINCT FacilityType FROM Business_data;
    </select>
    <select id="getSearchFilterEnergy" resultType="string">
        SELECT DISTINCT energy FROM Business_data;
    </select>
    <select id="getSearchFilterSigungu" resultType="string">
        SELECT DISTINCT Sigungu FROM Business_data;
    </select>

    <!-- 검색 및 페이지네이션 용 -->
    <select id="getSearchBusinessDataList" parameterType="kr.techdna.replatform2023.dto.SearchDto" resultMap="BusinessDataResultMap">
        SELECT
            *
        FROM
            Business_data
        <include refid="conditions-sub" />
        ORDER BY
            UserID DESC, BYEAR DESC
        LIMIT #{pagination.limitStart}, #{size}
    </select>

    <!-- 엑셀 다운로드 용 전체 조회 / 전체 조회하여 데이터 return 하므로 page 없음 -->
    <select id="getSearchBusinessDataListForExcelDownload" parameterType="kr.techdna.replatform2023.dto.SearchDto" resultMap="BusinessDataResultMap">
        SELECT
            *
        FROM
            Business_data
        <include refid="conditions-sub" />
        ORDER BY
            UserID ASC, BYEAR ASC
    </select>

    <!-- BusinessData.UserID 에 따른 AS_data 수 조회(필요 없음...) -->
    <select id="countForAsData" parameterType="java.lang.Integer" resultType="int">
        SELECT
            COUNT(*)
        FROM
            AS_data
        WHERE
            UserID = #{userID}
    </select>
    <select id="selectForUserID" parameterType="java.lang.Integer" resultMap="AsDataResultMap">
        SELECT
            *
        FROM
            AS_data
        WHERE
            UserID = #{userID}
        ORDER BY
            UserID DESC, No DESC
    </select>

</mapper>